{
  "presets": [
    ["env", {
      "targets": {
        "chrome": "60"
      },
      "shippedProposals": true,
      "useBuiltIns": "entry"
    }],
    "react"
  ],
  "plugins": [
    "transform-exponentiation-operator",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}