{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "rules": {
    // https://github.com/airbnb/javascript/issues/982
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "strict": 0
  },
  "plugins": [
    "babel"
  ]
}