/*
  START: sticky footer implementation
 */
#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.holy-grail {
    flex: 1;
}

body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
  END: sticky footer implementation
 */

.holy-grail {
    /*Required for holy grail layout*/
    display: flex;
    height: 100%;
    flex-direction: column;
}

.holy-grail-header,
.holy-grail-footer {
    flex: none; /* 2 */

    padding: 1.5rem;
    background: #404040;
    color: #999;
    font-size: .85em;
    text-align: center;
}

.holy-grail-body {
    display: flex;
    flex: 1 0 auto; /* 2 */
    flex-direction: column;
    padding: 1.5em;
}

.holy-grail-content {
    margin-top: 1.5em;
}

.holy-grail-nav {
    order: -1;
}

.holy-grail-nav,
.holy-grail-ads {
    padding: 1em;
    border-radius: 3px;
    background: rgba(147, 128, 108, 0.1);
}

@media (min-width: 768px) {
    .holy-grail-body {
        flex-direction: row;
    }
    .holy-grail-content {
        flex: 1;
        padding: 0 2em;
        margin: 0;
    }
    .holy-grail-nav, .holy-grail-ads {
        flex: 0 0 12em;
    }
}
